.root{
-fx-background-color: radial-gradient(center 100% 0%, radius 20%, white, yellow, lightblue);

}

.button {
-fx-background-color: darkblue;
-fx-text-fill: white;
-fx-font-size: 20px;
}
.check-box{
-fx-text-fill: darkblue;
}
.button:hover{
-fx-background-color: green;
}
.buttonExit{
-fx-background-color: white;
-fx-text-fill: black;
}
.buttonExit:hover{
-fx-background-color: red;
-fx-text-fill: white;
}
.buttonCenter{
-fx-background-color: darkblue;
-fx-text-fill: white;
-fx-font-size: 15px;
}
.buttonCenter:hover{
-fx-background-color: green;
-fx-font-size: 15px;
}
.text-field {
-fx-font-size: 15px;
-fx-font-family: courier;
-fx-text-fill: white;
-fx-background-color: darkblue;
}
.slider{
-fx-background-color: transparent;
-fx-text-fill: darkblue;
}
.slider .axis {
    -fx-tick-label-fill: darkblue;
}

.label{
-fx-background-color: transparent;
-fx-text-fill: black;
}

.subsceneBorder{
-fx-border-style: solid;
-fx-border-color: black;
}
.textFlowBorder{
-fx-border-style: solid;
-fx-border-color: black;
-fx-background-color: transparent;
}
.color-picker{
-fx-color-label-visible:false;
}
.chart{
-fx-legend-side:right;
}
.chart-content{
-fx-background-color:lightblue;
}